ul.nav
    li 
        a#home_button(href="/") Home
    li 
        a#create_post(href="/create") Create
    li 
        a#account_button(href="/profile") Profile
    li 
        a#sign_in_button(href="/login") Sign In