ul.nav
    li 
        a#home_button(href="/") Home
    li 
        a#create_post(href="/create") Create
    li 
        a#account_button(href="/profile") Profile
    li 
        form#log_out_button_wrapper(action="/log_out" method="POST")
            button#log_out_button(type="submit") Log Out 